.App {
  text-align: center;
  height: 100vh;
  background-color: #2D2D2D;
}

.header {
  height: 100px;
}

.node {
  padding: 8px 50px 5px;
  margin: 0 0 10px 0;
  text-align: left;
  font-size: 20pt;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}

.bark-class {
  background-color:#2D2D40;
} 

.bark-class-selected {
  background-color: rgb(163, 201, 230);
  color: black;
}

.meristem-class {
  background-color: #2D3A2D;
}

.meristem-class-selected {
  background-color: rgb(146, 255, 195);
  color: black;
}